@font-face {
	font-family: "Symbola";
	src: local("Symbola"), url("Symbola601.otf");
}

html {overflow-y: scroll;}
body, #buttons button, textarea { font-family: sans-serif, Symbola;}
#input {font-size: 200%; width:100%}
#buttons button { font-size: 400%; background: none; border: none; min-width: 1ex}
div.big { font-size: 200%; text-align: center; }
/*#buttons button:hover {color:blue; text-shadow:0 0 30px yellow , 0 0 70px yellow;}*/
#buttons h2 { text-shadow: 2px 2px 2px silver; }
#buttons {padding: 0 10%}

#buttons button {
  border: 1px solid #eee; 
  border-radius: 5px; 
  margin: 10px; 
  transition:box-shadow 0.5s;
}

#buttons button:hover {
  box-shadow: 0px 0px 18px blue; 
  transition:box-shadow 0.5s;
}

#buttons.list button:after {content: " – " attr(title); font-size: 25%;}
#buttons.list button {display: block; border-bottom: 1px solid silver; width: 100%; text-align: start}

#input.fixed { position: fixed; top: 10px; left: 10px; right: 10px; opacity: 0.9; width: 90%; margin: auto; }
a[onclick] { text-decoration: underline; color: blue; cursor: pointer}

